<div class="w-25 mt-5 mx-auto fw-bold shadow">
    <div class="w-60 mx-auto text-end bg-light text-secondary">
        <div class="pb-2 px-3" style="font-size: 25px;">{{ txtInput }}</div>
        <div class="pb-2 px-3">{{resultat}}</div>
    </div>
    <div
        class="w-60 mx-auto bg-white text-light d-flex flex-row text-center justify-content-between" >
        <div class="col-3">
            <div class="p-4 bg-secondary " (click)="addNum('9')">9</div>
            <div class="p-4 bg-secondary" (click)="addNum('6')">6</div>
            <div class="p-4 bg-secondary" (click)="addNum('3')">3</div>
            <div class="p-4 bg-secondary" (click)="addOperator('.')">.</div>
        </div>
        <div class="col-3">
            <div class="p-4 bg-secondary" (click)="addNum('8')">8</div>
            <div class="p-4 bg-secondary" (click)="addNum('5')">5</div>
            <div class="p-4 bg-secondary" (click)="addNum('2')">2</div>
            <div class="p-4 bg-secondary" (click)="addNum('0')">0</div>
        </div>
        <div class="col-3">
            <div class="p-4 bg-secondary" (click)="addNum('7')">7</div>
            <div class="p-4 bg-secondary" (click)="addNum('4')">4</div>
            <div class="p-4 bg-secondary" (click)="addNum('1')">1</div>
            <div class="p-4 bg-secondary" (click)="addNum('00')">C</div>
        </div>
        <div class="col-3 barra-lateral">
            <div class="px-3 py-2" (click)="esborrar()"><-</div>
            <div class="px-3 py-2" (click)="addOperator('/')">/</div>
            <div class="px-3 py-2" (click)="addOperator('*')">*</div>
            <div class="px-3 py-2" (click)="addOperator('-')">-</div>
            <div class="px-3 py-2" (click)="addOperator('+')">+</div>
            <div class="px-3 py-2" (click)="calcular()">=</div>
        </div>
    </div>
</div>
